.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  width: 100%;
  justify-content: space-around;
}

.char {
  opacity: 0;
  transform: translateY(10px);
  display: inline-block;
  animation: revealLetter 1.5s ease-in-out;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 20px;
  align-items: center;
}

@keyframes revealLetter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal-text {
  font-size: 24px;
  color: rgb(74, 19, 202);
  letter-spacing: 1px;
}
