.search-click {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 15px;
  padding: 15px;
  transition: all 0.5s;
}
.search-click:focus {
  width: 300px;
  padding-left: 50px;
}

.search-click input {
  outline: none;
  position: absolute;
  width: 300px;
  height: 10px;
  left: 0%;
  padding: 5px;
}